.showopt {
  background-color: #004c93;
  color: #FFFFFF; 
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  float: right;
  font-family: sans-serif;
  border-radius: 8px;
}

.showopt:hover {
    background-color: #dfe4f2;
    color: #004c93;
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
    align-content: center;
}

pre.plot {
  background-color: white !important;
}

body .main-container {
max-width: 1200px;
margin: auto;
align-content: center;
}

#wrapper {

margin: 0 auto;

}

#CombinationChart {
 max-width: 1200px;
 margin: auto;
}


.row {
 max-width: 1200px;
 margin: auto;
}

